<!-- Footer -->
<footer id="footer">
	<section>
		<h2>Who We Are</h2>
		<p>We are a distributed team of all-senior consultants and developers. We have delivered projects for large agencies, world class retail brands and industry leaders. We work with open web and mobile technologies.</p>
	</section>
	<section>
		<h2>Find Us</h2>
		<dl class="alt">
			<dt>Address</dt>
			<dd>Level 23, One Island East <br> 18 Westlands Road <br> Quarry Bay <br> Hong Kong</dd>
			<dt>Phone</dt>
			<dd><a href="tel:+16503535268" title="Call Us">+1 (650) 353-5268</a></dd>
			<dt>Email</dt>
			<dd><a href="hello@umamicollective.com">hello@umamicollective.com</a></dd>
		</dl>
		<ul class="icons">
			<li><a href="https://twitter.com/umamicollective" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>
			<li><a href="https://www.facebook.com/umamicollective" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>
			<!-- <li><a href="#" class="icon fa-instagram alt"><span class="label">Instagram</span></a></li> -->
			<li><a href="https://github.com/umamicollective" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
			<!-- <li><a href="#" class="icon fa-dribbble alt"><span class="label">Dribbble</span></a></li> -->
		</ul>
	</section>
	<p class="copyright">&copy; 2016, Umami Collective Limited.</p>
</footer>