<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<meta name="description" content="{{ page.description | default: site.description }}">
		<meta property="og:title" content="{{ page.title }}" />
		<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
		<meta property="og:image" content="{{ site.url }}{{ page.image | default: site.image }}" />
		<meta property="og:description" content="{{ page.description | default: site.description }}" />
</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><img src="images/umami-collective.svg" alt="" width="120" height="120" /></span>
						<h1>Business solutions with open software</h1>
						<p></p>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#intro" class="active">Introduction</a></li>
							<li><a href="#what">What we do</a></li>
							<li><a href="#clients">Our clients</a></li>
							<li><a href="#contact">Contact us</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						{{ content }}

					</div>

				{% include footer.html %}

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>